<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style type="text/css">
      *{
        font-family: 'Montserrat', sans-serif;
      }
    </style>

    <title>Abled</title>
  </head>
  <body bgcolor="#941839" style="min-height: 100vh; border: 1px solid #941839;">
    <div class='container'>
      <img src="/static/bg.png" style="position: absolute; bottom: 0px; left: 0px; width: 100%;">
      <div class="row center-align" style="width: 100%;">
        <div class="col s3">
          <img src="static/logo.png" style="width:60%;" class="center-align">
        </div>
        <div class="col s9"> 
        </div>
          <h1 class="center-align" style="padding-bottom: 0px; margin-bottom: 0px; margin-top: 100px; color: white;">Enable the Disabled</h1>
          <h5 class="center-align" style="padding: 0px; margin: 0px; color: white;">Let us help a community by sharing our opinions</h5>
      </div>
      <form action = "https://148c524d.ngrok.io/search" method = "POST" class='valign-wrapper center-align' style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width: 100%;">
        <div class='input-field center-align'  style="margin: auto; width: 50%;">
          <input placeholder="Search Place" id="search" name="search" type="text" style="font-size: 24px; border: 2px solid white; border-radius: 10px; background: white; text-align: center;">
          <button style="background: #941839; border: 2px solid white; border-radius: 10px; padding: 10px 40px; color:  white; font-size: 24px; margin-top: 20px;" type="submit">GO</button>
        </div>
      </form>
    </div>
  </body>
</html>